# AI API keys
ANTHROPIC_API_KEY=your_key
OPENAI_API_KEY=your_key
OPENROUTER_API_KEY=your-key

# Langchain configuration
LANGCHAIN_API_KEY=your-api-key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="CSC212-AI-Agent"

# Test mode variables
EMAIL_TEST_MODE = "False"
TEST_EMAIL_ADDRESS = "email address here"