/*
  Author: CopilotKit
  Co-author: Sean Collins
  Copyright 2026
*/
@import "@radix-ui/themes/styles.css";
@import "@radix-ui/colors/orange.css";

@import "tailwindcss";

:root {
  --background: #eeeadf;
  --foreground: #101010;
}

.nightBG {
  background-color: var(--foreground);
  color: var(--background);
}

.menuColor {
  background-color: var(--orange-9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background: var(--foreground);
  color: var(--backgroundground);
}
